* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.bg-header {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.bg-abu {
  height: 100vh;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.flex-header {
  color: #ffffff;
}

h1.header {
  margin-top: 30%;
  font-size: 50px;
  font-weight: 700;
}

h1.header span {
  font-weight: 300;
}

p.header {
  margin-top: 15px;
  line-height: 35px;
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  text-decoration: none;
  color: #292929;
  font-weight: 600;
  font-size: 12px;
  margin-right: 20px;
  border-radius: 2px;
  transition: 0.3s;
}

.button:hover {
  text-decoration: none;
}

.button.utama {
  background-color: #91cefc;
}

.button.utama:hover,
.button.kedua:hover {
  background-color: #669cb0;
  color: #ffffff;
}

.button.kedua {
  background-color: #ffffff;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-left: 5px;
}

.kotak-foto {
  margin-top: 25%;
  margin-left: 50px;
  width: 280px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transition: 0.8s;
}

.kotak-foto:hover {
  transform: scale(1.03);
}

.kotak-foto img {
  width: 100%;
  border-radius: 2px;
}

.kotak-foto h4 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.kotak-foto p {
  font-size: 14px;
  margin-bottom: 8px;
}

.icon-kanan {
  position: absolute;
  background-color: #ea4c89;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 240px;
  margin-top: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px !important;
  color: #ffffff;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icon-kanan a {
  color: #ffffff;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.icon-kanan:hover {
  cursor: pointer;
}

.hover-icon {
  visibility: hidden;
  position: absolute;
  background-color: #f6f6f6;
  box-shadow: 0 3px 85px rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 250px;
  border-radius: 1;
  margin-left: 300px;
  margin-top: 265px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #292929;
  opacity: 0;
}

.bulat-kecil {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 65%;
  transition: 0.3s;
}

.bulat-kecil:hover {
  transform: scale(0.9) translateX(-0.5%);
}

.bulat-besar {
  background-color: rgb(0, 0, 0, 0.8);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: -50px;
  transition: 1s;
}

.bulat-besar:hover {
  transform: scale(1.095) translateX(-0.5%);
}

.header-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.kotak-counter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.kotak-counter .counter {
  padding: 5px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: auto;
  margin: 10px;
  text-align: center;
  font-size: 14px;
}

.counter span {
  font-weight: 700;
  font-size: 42px;
}

.garis {
  background-color: rgba(0, 0, 0, 0.3);
  height: 80px;
  width: 1px;
}

.hide-web {
  visibility: hidden;
  display: none;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .bg-abu {
    height: 100%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.4);
  }

  body {
    position: relative;
  }

  .hide-mobile {
    visibility: hidden;
    display: none;
  }

  .hide-web {
    visibility: visible;
    display: unset;
  }

  .flex-header {
    padding: 0 30px;
  }

  h1.header {
    font-size: 30px;
    margin-top: 0;
    color: #292929 !important;
  }

  p.header {
    line-height: 20px;
    font-size: 12px;
    color: #292929 !important;
  }

  .kotak-foto {
    margin: 50px auto;
    width: 280px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: 0.8s;
  }

  .header-counter {
    position: relative;
    right: unset;
    bottom: unset;
    margin-right: 0;
    margin-top: 30px;
  }

  .bulat-kecil {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: -20px;
  }
}
